@font-face {
    font-family: "jf-jinxuan";
    src: url('./fonts/jf-jinxuan-bold.woff') format("woff");
    // url('./fonts/Helvetica.ttf') format("truetype"),
    // url('./fonts/Helvetica.eot') format("embedded-opentype");
}

* {
    // font-family: "jf-jinxuan", "Noto Sans TC", "微軟正黑體", "Microsoft Yahei";
    font-family: "jf-jinxuan";
}

body {
    background-color: #F5F2EA;
    font-family: "jf-jinxuan";
}

a {
    text-decoration: none;
    // font-family: "jf-jinxuan";
}

input::placeholder {
    font-weight: 700;
}

input[type=text] {
    // font-family: "jf-jinxuan";
    font-weight: bold;
}

img {
    width: 100%;
}

.container {
    max-width: 640px;
    padding-top: 10vh;
    margin: 0 auto;

    @include mobile {
        padding-top: 3vh;
    }

}

.remain-task {
    font-size: 20px;
    color: #EA0B0B;
}

.ic-Trash {
    width: 18px;
    height: 18px;
}

.icList {
    width: 40px;
    height: 40px;
}

.headerBox {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @include mobile {
        margin-left: 16px;
        margin-right: 16px;
    }


    &__icon {
        margin-right: 8px;
        width: 40px;
        height: 40px;
        display: block;

        @include mobile {
            display: none;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;

        @include mobile {
            font-size: 36px;
            line-height: 50px;
        }
    }
}


.mainForm {
    width: 100%;
    height: 54px;
    display: flex;

    @include mobile {
        flex-direction: column;
        height: auto;
    }

    // flex-direction: row;
    .textInput {
        margin-right: 16px;
        font-size: 16px;
        border: 4px solid black;
        flex-grow: 4;
        padding-left: 16px;

        @include mobile {
            margin-right: 0;
            margin-bottom: 12px;
            height: 44px;
        }

        &:focus {
            background: #E1E1E1;
            outline: 2px solid black;
            outline-offset: 4px;
        }
    }

    .btnAddItem {
        font-family: "jf-jinxuan";
        padding-right: 24px;
        padding-left: 24px;
        height: 100%;
        background: black;
        font-weight: 700;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border: 4px solid black;
        transition: 0.2s all;

        @include mobile {
            height: 44px;
        }

        &:hover {
            background: #fdcb1b;
            color: black;
        }

        &:focus {
            // box-shadow: 0p 0 0 10px rgba(0, 0, 0, .35);
            outline: 2px solid black;
            outline-offset: 4px;
            transition: none;
        }
    }
}




.listBox {
    padding: 32px;
    border: 8px solid black;
    background: white;
    min-height: 500px;
    // box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.2);
    margin-right: 24px;
    margin-left: 24px;
    position: relative;


    @include mobile {
        padding: 24px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .tooltip {
        position: absolute;
        background: #FF5C01;
        padding: 8px 12px;
        display: flex;
        top: -16px;
        opacity: 0;
        transition: .3s all;

        &__text {
            margin: 0;
            color: white;
            font-size: 14px;
            margin-right: 4px;
            line-height: 24px;

        }
    }



    .ic-close {
        align-items: center;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.dividerBox {
    padding-top: 32px;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 8px;

    @include mobile {
        padding-top: 16px;
        margin-bottom: 12px;

    }

    &__remain {
        font-family: "jf-jinxuan";
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 4px 8px;
        background: white;
        font-size: 16px;
        line-height: 20px;
        color: #808080;

        @include mobile {
            left: 0;
            padding-left: 0;
            // right: 0;
            transform: none;
        }
    }



    &__divider {
        height: 4px;
        width: 100%;
        background-color: black;

        @include mobile {
            display: none;
        }
    }
}



.emptyImg {
    width: 100%;
    margin-top: 32px;

    @include mobile {
        margin-top: 40px;
    }
}

.todoListBox {
    width: 100%;
    font-family: "jf-jinxuan";

    &__item {
        display: flex;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: inset 0px -1px 0px #ECECEC;
        align-items: center;

        &__text {
            margin: 0;
            margin-right: 16px;
            font-size: 28px;
            font-weight: bold;
            flex-grow: 4;
            align-items: center;

            @include mobile {
                font-size: 20px;
            }
        }

        &__btnDelete {
            // display: block;
            position: relative;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: rgba(234, 11, 11, 0.1);
            border: 2px solid rgba(234, 11, 11, 0.01);
            transition: .3s all;

            // tooltip when hover delete button
            &::before {
                position: absolute;
                bottom: 44px;
                width: 52px;
                text-align: center;
                content: '刪除項目';
                color: white;
                background: #000;
                font-size: 10px;
                font-weight: bold;
                line-height: 14px;
                padding: 4px 0;
                opacity: 0;
                transition: .3s all;
            }

            &:hover {
                border: 2px solid #EA0B0B;

                &::before {
                    opacity: 1;
                    bottom: 48px;
                }
            }
        }
    }


}