.emptyImg {
    width: 100%;
    margin-top: 32px;

    @include mobile {
        margin-top: 40px;
    }
}

.todoListBox {
    width: 100%;

    &__item {
        display: flex;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: inset 0px -1px 0px #ECECEC;
        align-items: center;

        &__text {
            margin: 0;
            margin-right: 16px;
            font-size: 28px;
            font-weight: bold;
            flex-grow: 4;
            align-items: center;

            @include mobile {
                font-size: 20px;
            }
        }

        &__btnDelete {
            // display: block;
            position: relative;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: rgba(234, 11, 11, 0.1);
            border: 2px solid rgba(234, 11, 11, 0.01);
            transition: .3s all;

            // tooltip when hover delete button
            &::before {
                position: absolute;
                bottom: 44px;
                width: 52px;
                text-align: center;
                content: '刪除項目';
                color: white;
                background: #000;
                font-size: 10px;
                font-weight: bold;
                line-height: 14px;
                padding: 4px 0;
                opacity: 0;
                transition: .3s all;
            }

            &:hover {
                border: 2px solid #EA0B0B;

                &::before {
                    opacity: 1;
                    bottom: 48px;
                }
            }
        }
    }


}